@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
h3{
    margin: 0;
}
*{
    text-decoration: none;
    color: black;
    font-family: Raleway;
}
body {
    background-color: white;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 20px 0 20px;
}
section{
    padding-bottom: 20px;
}
h1{
    font-size: 1.5rem;
}
h3{
    font-size: 1.06rem;
}

.head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 30px;
    
    
}
.nav{
    color: black;
    
}
li{
    list-style-type: none;
}
ul{ 
    display: flex;
    text-align: right;
    margin: 0;
    padding: 0;
    gap: 50px;
}
.logo{
    padding-top: 10px;
    max-width: 4rem;
}
.head>ul>li{
    border-top: solid 2px white;
    display: flex;
    align-items: center;
}
.head>ul>li:hover{
    border-top: solid 2px #0065fc;
    color: #0065FC;
}
.head>ul>li>a:hover{
    color: #0065FC;
}
.search{
    display: flex;
}
::placeholder{
    color: black;
    font-weight: bold;
    font-size: 1.06rem;
}
form{
    display: flex;
}
input{
    border: none ;
    padding: 15px;
    border: solid 1px #f2f2f2;
}

.location{
    padding: 15px 20px;
    border: #f2f2f2;
    border-radius: 15px 0 0 15px;
    font-size: 1.06rem;
}
.submit{
    background-color: #0065FC;
    color: white;
    font-size: 1.06rem;
    font-weight: bold;
    border-radius: 0 15px 15px 0;
    padding: 15px;
    border: #0065FC;
}
.fa-magnifying-glass{
    color: white;
}
.mobile{
    display: none;
    border-radius: 15px;
    padding: 0 8px;
}

.fa-info{
    color: #0065FC;
    border: solid 1px #d9d9d9;
    border-radius: 50%;
    padding: 5px 9px;
    margin-right: 5px;
    font-size: 0.8rem;
}

.hotel{
    display: flex;
    justify-content: space-around;
    flex: 1 0;
    gap: 20px;
}
.heb{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.heb-a > a{
    background-color: white;
    border-radius: 25px;
    display: flex;
    padding: 5px;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.096);

}
.heb-a > a > div > h3{
    line-height: normal;
}
.heb-a >a >div{
    position: relative;
}
.heber{
    padding: 10px;
}
.heb-a{
    width: 30%;

}
.heb-h{
    padding-top: 30px;
}
.img{

    height: 8rem;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}
.hebcontent{
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 20px;
}
.btn{
    display: flex;
    gap: 16px;
    font-weight: bold;
    align-items: center;
    padding-bottom: 25px
}
.btn > div{
    display: flex;
    gap: 1rem;
}
.filter{
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    display: flex;
    gap: 10px;
    padding: 15px;
}
.filter:hover{
    background-color: #DEEBFF;
}
.filter-ico{
    color: #0065FC;
}
.heb-heb{
    flex: 2;
}
.heb-pop{
    flex: 1;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fa-chart-line{
    color: #0065FC;
}
.pop > a{
    flex-direction: row;
    height: 10rem;
    width: 100%;
}
.pop{
    width: 100%;

}
.pop-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ipop{
    width: 30%;
    min-width: 80px;
    height: 100%;
    border-radius: 20px 0 0 20px;
    margin-right: 10px;
}
.acti {
    display: flex;
    gap: 25px;
}
.acti > a{
    width: 25%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.096) 2px 2px 2px 2px;
}
.acti > a >img {
    object-fit: cover;
    height: 25rem;
    width: 100%;
    border-radius: 20px 20px 0 0 ;
}
.acti > a >h3{
    padding: 15px;
}
.ac{
    margin: 30px;
}
.fa-star{
    color: #0065FC;
}
.blank{
    color: #f2f2f2;
}
.star{
    bottom: 5px; 
}
footer{
    display: flex;
    gap: 250px;
    background-color: #f2f2f2;
    padding: 25px;
}
@media screen and (max-width: 1024px) {
    .hotel{ 
        flex-direction: column;
        gap: 50px;
    }
    footer {
        gap: 150px;
    }
    .acti > a > img {
        height: 13rem;
    }
    .pop {
        flex-direction: column;
        width: 30%;
    }
    .pop-content>h3{
        font-size: 1rem;
    }
    .btn{
        display: block;
    }
    .btn >h3{
        padding-bottom: 15px;
    }
    
}
@media screen and (max-width: 768px) {
    body{
        padding: 0;
    }
    .logo{
        padding-bottom: 15px;
    }
    .head{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .mobile-space{
        padding: 0 10px;
    }
    .btn{
        flex-direction: column;
        
    }

    .hotel{
        flex-direction: column-reverse;
    }
    .pop{
        flex-direction: row;
        width: 100%;
    }
    footer{
        flex-direction: column;
        gap: 30px;
    }
    .acti{
        flex-direction: column;
    }
    .acti > a{
        width: 100%;
        height: 100%;
    }
    .hebcontent{
        border-radius: 0;
    }
    .heb-heb{
        background-color: white;
    }
    .heb-a {
        width: 100%;
    }
    input{
        border: none;
    }
    form{
        justify-content: center;
        padding: 0;
        border: solid 1px #f2f2f2;
        border-radius: 16px;
    }
    .mobile100{
        width: 100%;
        border-right: none;
    }
    .submit{
        display: none;
    }
    .mobile{
        display: block;
    }
    .btn > div{
        flex-wrap: wrap;
    }
    .head>ul>li:hover{
        border-top: none;
    }
    .head>ul {
        width: 100%;
        justify-content: center;  
        gap: 0;  
    }    
    .head>ul>li{
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
        justify-content: center;
        border-bottom: solid 2px #f2f2f2;
    }
    .head>ul>li:hover{
        border-bottom: solid 2px #0065FC;
    }
    .btn{
        display: block;
        padding: 15px 0 15px;
        width: 100%;
        line-height: 40px;
    }
    .filter{
        width: 40%;
        justify-content: center;
        align-items: center;
        line-height: normal;
    }
    .btn> div{
        justify-content: space-around;
        width: 100%;
        gap: 0;
        row-gap: 1rem;
        
    }
    .txt{
        width: 100%;

    }
    
}